.logo {
    font-size: 0.6em;
    width: 100em;
    margin: auto;
}

.logo p {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    white-space: pre-wrap;
    margin-bottom: 0.75em;
}

@media(max-width:400px) {
    .logo {
        font-size: 0.3em;
    }
}